<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng ký</title>
    <style>
        .body{
            text-align:center;
        }
    </style>
   
</head>
<body>
    @RenderBody()
</body>
</html>
